<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NodeJS Webserver Lesson</title>
  </head>

  <body>
    {{> header}}
    
    <p>Welcome to the {{name}} page</p>

    {{> footer}}
  </body>

</html>
