<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NodeJS Webserver Lesson</title>
  </head>

  <body>
    {{> header}}

    <!-- first variable is the helper, second is actually the argument the helper expects -->
    <p>{{screamIt welcomeMessage}}</p>

    {{> footer}}
  </body>

</html>
